@model Forecast.MVC.ViewModels.ForecastIndexViewModel
<p>Roligt</p>

@foreach (var location in Model.Weathers)
{
    <p>
        @location.City
    </p>
    <p>
        @location.WheaterType
    </p>

}
