
@*@Html.DisplayFor(m => m.Weathers)*@

@{var weekday = Model.DayOfWeek(Model.Period.Date);}


    <p>
        @weekday
    </p>

<p>
    @Model.Period
</p>
<p>
    @Model.Temp
</p>
<p>
    <img src="~/Content/WeatherSymbols/@(Model.Symbol).png" alt="Weather icon" />
</p>
